<div class="container" role="main">

    <div class="jumbotron" style="padding: 10px 60px;">
        <p class="pull-right">Wizualizacja za pomocą <a href="http://paperjs.org/">http://paperjs.org/</a></p>
        <h2>Kula i równia pochyła</h2>
        <p>
            Symulowane zjawisko przedstawia kulę staczającą się po równi pochyłej.
            Przyjęty model zakłada istnienie tarcia wyłącznie statycznego pomiędzy kulą a równią, zatem kula nie ześlizguje się.
        </p>
    </div>
    <div class="jumbotron" style="padding: 10px;" ng-init="seq1='CACTTTTCACTTTTATATT';seq2='CACATAWWT'">
        <form class="form acgt-form">
            <div class="form-group">
                <label for="exampleInputEmail1">Sequence 1</label>
                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="seq1"
                       placeholder="Sequence 1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Sequence 2</label>
                <input type="text" class="form-control" id="exampleInputPassword1" ng-model="seq2"
                       placeholder="Sequence 2">
            </div>
        </form>
    </div>
    <div class="jumbotron" style="padding: 10px 60px;">
        <simulation seq1="{{seq1}}" seq2="{{seq2}}"></simulation>
    </div>



</div> <!-- /container -->
