<div class="container" role="main">

    <div class="jumbotron" style="padding: 10px 60px;">
        <p class="pull-right">Visualized using <a href="http://easelj">http://d3js.org</a></p>
        <h2>NtSeq nucleotid aligment</h2>
        <p>
            This app visualizes <a href=" https://keithwhor.github.io/NtSeq/">BioJS &raquo; NtSeq</a> JavaScript bioinformatics library
            for nucleotide sequence manipulation and analysis. This demo simulates local pairwise nucleotides alignment.
        </p>
    </div>
    <div class="jumbotron" style="padding: 10px;" ng-init="seq1='CACTTTTCACTTTTATATT';seq2='CACATAWWT'">
        <form class="form acgt-form">
            <div class="form-group">
                <label for="exampleInputEmail1">Sequence 1</label>
                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="seq1"
                       placeholder="Sequence 1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Sequence 2</label>
                <input type="text" class="form-control" id="exampleInputPassword1" ng-model="seq2"
                       placeholder="Sequence 2">
            </div>
        </form>
    </div>
    <div class="jumbotron" style="padding: 10px 60px;">
        <force-graph seq1="{{seq1}}" seq2="{{seq2}}"></force-graph>
    </div>



</div> <!-- /container -->
